.ui-checkbox {

  $parent = selector()

  &__container {
    cursor pointer
    display inline-block
    white-space nowrap

    & > * {
      display inline-block
      vertical-align top
    }

  }

  &__control {
    display none
  }

  &__label {
    transition .4s ease-in-out border
    max-width 100%
    white-space normal
  }

  &__box {
    width 14px
    height @width
    box-shadow inset 0 2px 2px 0 rgba(0, 0, 0, 0.07)
    border solid 1px #d7d7d7
    background-color #fff
    text-align center
    transition .4s ease-in-out border-color

    & .icon {
      width 9.3px
      height 7px
      vertical-align middle
      position relative
      top -3px

      & svg {
        & path {
          stroke #fff
        }
      }
    }
  }

  &:hover, &:focus {
    & {$parent} {
      &__box {
        border-color $color-primary
      }

      &__label {
        color $color-primary
      }
    }
  }

  &__label {
    margin-left 10px
    font-style normal
    line-height 1
    letter-spacing normal
  }

  &.is-checked {

    & {$parent} {
      &__box {
        background-color $color-primary
        border-color @background-color
      }

      &__label {
        color $color-primary
      }
    }

  }

}