$font-path = '../../assets/fonts/ProximaNova/'

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url($font-path + 'regular/ProximaNovaRegular.eot');
  src: url($font-path + 'regular/ProximaNovaRegular.woff') format('woff'),
          url($font-path + 'regular/ProximaNovaRegular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

