.footer-phone {
  text-align right

  &__label {
    font-size 12px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.83
    letter-spacing normal
    margin-bottom 10px
  }

  &__number {
    font-size 20px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.1
    letter-spacing normal
    text-align right
    transition color .4s ease-in-out
  }
}