.product-raiting {
  &__item {
    display inline-block
    width 10px
    height @width

    & svg {
      & path {
        fill $color-secondary-light
      }
    }

    &.is-active {
      & svg {
        & path {
          fill $color-warning
        }
      }
    }

    & + & {
      margin-left 5px
    }
  }
}