.product-params {
  list-style-type none
  padding 0

  &__item {
    font-size 12px
    color $color-secondary-darkest

    & label {
      color $color-secondary-dark
    }

    & + & {
      margin-top 6px
    }

  }

}