@import '../../../node_modules/bootstrap-4-grid-styl/stylus/grid.styl';
@import '../../assets/fonts/index.styl';

html, body {
  margin 0
  padding 0
}

html, body, #root {
  height 100%
}

body {
  color $color-secondary-darkest
  font-family $font-default
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  font-size 14px
}

a {
  color inherit
  text-decoration none

  &[disabled] {
    pointer-events none
    opacity 0.7
  }
}

h1, h2, h3, h4, h5, h6 {
  margin 0
  padding 0
}

.container {
  padding 0 10px
  margin 0 auto
  max-width 1260px
  width 100%
}

.text {
  &-right {
    text-align right
  }

  &-left {
    text-align left
  }

  &-center {
    text-align center
  }
}

.icon {
  display inline-block
  width 100%
  height @width

  & svg {
    width @width
    height @width
  }
}

.row {
  $numb = 5px
  margin-right -($numb)
  margin-left -($numb)

  & > * {
    padding-right $numb
    padding-left $numb
  }
}

.box {
  border-radius 2px
  background-color #fff
}