$font-path = '../../assets/fonts/ProximaNova/'

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url($font-path + 'semibold/ProximaNovaSemibold.eot');
  src: url($font-path + 'semibold/ProximaNovaSemibold.woff') format('woff'),
          url($font-path + 'semibold/ProximaNovaSemibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
