.app {
  background-color $color-secondary-lighter
  display flex
  flex-direction column
  background-attachment fixed
  min-height 100%

  &__content {
    flex 1 0 auto
  }

  &__footer {
    flex 0 0 auto
  }
}