.ui-loading {
  width 40px
  height @width
  border-radius 100%
  position relative
  margin 10px auto
  display block

  &--small {
    width 20px
    height @width

    &:before, &:after {
      border-width 5px !important
    }
  }

  &:before, &:after {
    content ""
    position absolute
    top -10px
    left @top
    width 100%
    height @width
    border-radius 100%
    border 10px solid transparent
    border-top-color $color-primary
  }

  &:before {
    z-index 100
    animation spin 1s infinite
  }

  &:after {
    border 10px solid rgba(0, 0, 0 0.2)
  }
}

@keyframes spin {
  0% {
    -webkit-transform rotate(0deg)
    -ms-transform rotate(0deg)
    -o-transform rotate(0deg)
    transform rotate(0deg)
  }

  100% {
    -webkit-transform rotate(360deg)
    -ms-transform rotate(360deg)
    -o-transform rotate(360deg)
    transform rotate(360deg)
  }
}
