.product-filter {
  padding 30px 30px 15px 30px

  &__btns {
    display flex
    flex-direction column
    margin-bottom 30px
  }

  &__btn {
    width 100%

    & + & {
      margin-top 10px
    }
  }

  &-item {
    &__title {
      margin-bottom 13px
      font-size 17px
      font-weight normal
      font-style normal
      line-height normal
      letter-spacing normal
    }

    & + & {
      margin-top 10px
    }

    & .ui-checkbox {
      margin-bottom 10px
    }

  }

}