.ui-btn {

  display inline-block
  font-weight 400
  text-align center
  white-space nowrap
  vertical-align middle
  user-select none
  border 1px solid transparent
  padding 8.5px 15px
  line-height 1.5
  border-radius 2px
  transition color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  cursor pointer
  background-color $color-secondary-lighter
  font-size 13px

  &:hover, &:focus {
    background-color $color-secondary-light
  }

  &--icon {
    padding-top 6px
    padding-bottom @padding-top
  }

  &--primary {
    background-color $color-primary
    color #fff

    &:hover, &:focus {
      background-color $color-primary-dark
    }
  }

  &--block {
    display block
    min-width 100%
  }

  & .icon {
    width 17px
    height (@width) - 1
    margin-right 10px
    position relative
    top 2px
  }

}