.product-card {
  padding 18px 20px 30px 25px

  &__sky {
    color $color-secondary-dark
    font-size 12px
  }

  &__title {
    color $color-secondary-darkest
    font-size 18px
    margin-bottom 15px
    max-width 90%
  }

  &__availability {
    margin-bottom 10px
    color red

    &.is-active {
      color $color-success
    }

    & .icon {
      width 10.7px
      height 8px

      & svg {
        & path {
          stroke $color-success
        }
      }
    }
  }

  &__params {
    margin-bottom 20px
  }

  &__price {
    margin-bottom 15px

    &-value {
      font-size 25px
      margin-bottom 5px
    }

    &-point {
      font-size 12px
      color $color-primary
    }
  }

  &__favorite, &__comparison {
    display inline-block
    width 20px
    height @width
    cursor pointer

    & svg {
      & path {
        fill $color-primary
      }
    }
  }

  &__favorite {
    & svg {
      & path {
      }
    }
  }

  &__comparison {
    margin-left 20px
  }

}