$font-path = '../../assets/fonts/ProximaNova/'

@font-face {
  font-family: 'ProximaNovaBold';
  src: url($font-path + 'bold/ProximaNovaBold.eot');
  src: url($font-path + 'bold/ProximaNovaBold.woff') format('woff'),
          url($font-path + 'bold/ProximaNovaBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
